<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <!-- Le styles -->
    <link href="{{ asset('bundles/probesysadmin/lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <style type="text/css">
        /* Override some defaults */
        html, body {
            background-color: #eee;
        }
        body {
            padding-top: 40px;
        }
        .container {
            width: 300px;
        }

        /* The white background content wrapper */
        .container > .content {
            background-color: #fff;
            padding: 20px;
            margin: 0 -20px;
            -webkit-border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
        }

        .login-form {
            margin-left: 40px;
        }

        legend {
            margin-right: -50px;
            font-weight: bold;
            color: #404040;
        }

    </style>

    {% block stylesheets %}
    {% endblock stylesheets %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

</head>
<body>
  <div class="container">
      <div class="content">
          <div class="login-form">
              <h2>Login</h2>
              {% block content %}
              {% endblock content %}
          </div>
      </div>
  </div> <!-- /container -->
</body>
</html>